<% layout("/layouts/boilerplate") %>
    
    <!-- use can even use mt mb, they are bootstrap classes meaning margin top and margin bottom-->
    <div class="filters">
        <div class="filter"><i class="fa-solid fa-fire"></i><p><b>Trending</b></p></div>
        <div class="filter"><i class="fa-solid fa-umbrella-beach"></i><p><b>Beach</b></p></div>
        <div class="filter"><i class="fa-solid fa-mountain"></i><p><b>Hills</b></p></div>
    </div>
    <div class="row g-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-1"> <!--to change the layout as per screen size-->
        <% for(let listing of allListings) { %>
            <a href="/listings/<%=listing._id%>" class="listing_link">
            <div class="card col listing-card" >
                <img src="<%= listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 15rem" /> <!--to style how the image looks-->
                <div class="card-img-overlay"></div>
                
                <div class="card-body">
                    <p class="card-text">
                        <b> <%=listing.title %></b>
                    <br>
                        &#8377; <%=listing.price.toLocaleString("en-IN")%>/night
                       
                    </p>
                </div>
            </div></a>
            <% } %>

    </div>

  
</script>
</script>

